html {
    height: 100%;
    overflow: auto;
}
body {
  padding-top: 20px;
  height: 100%;
  margin: 50px;
  overflow: auto;
}

html {
    background-color: rgba(255, 255, 255, 0.93);
    font-family: 'Montserrat', sans-serif;
}


.name {
    text-transform: uppercase;
    color: rgb(49, 63, 71);
    width: calc(100% + 0.4rem);
    font-size: 1.5em;
    letter-spacing: 0.4rem;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buffer {
    margin-top: 1rem;
    margin-border: 1rem;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 0px auto;
   height: 0;
   width: 19%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.flex-item {
    width: 399px;
}

.what-am-i {
    text-transform: uppercase;
    color: rgb(49, 63, 71);
    letter-spacing: 0.225rem;
    width: calc(100% + 0.225rem);
    font-size: 0.75em;
    line-height: 1.875;
    font-weight: 300;
}

/*
 * CSS for the menu overlay
 */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*
 * For icons in the white box
 */

#icons {
    font-size: 1.5em;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;

}

.icon-box {
    padding: 0px;
    letter-spacing: 0px;
    margin-top: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.icon {
    margin: 0.5rem;
    width: 30px;
    height: 30px;
}
